In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/datasets/train_boston.csv')
df = data.copy()
df

,# CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Y
0,-0.407850,-0.487722,-1.266023,-0.272599,-0.576134,1.239974,0.840122,-0.520264,-0.752922,-1.278354,-0.303094,0.410571,-1.097990,37.9
1,-0.407374,-0.487722,0.247057,-0.272599,-1.016689,0.001946,-0.838337,0.336351,-0.523001,-0.060801,0.113032,0.291169,-0.520474,21.4
2,0.125179,-0.487722,1.015999,-0.272599,1.367490,-0.439699,0.687212,-0.577309,1.661245,1.530926,0.806576,-3.795795,0.891076,12.7
3,0.028304,-0.487722,1.015999,-0.272599,1.859875,-0.047918,0.801005,-0.712836,1.661245,1.530926,0.806576,-0.066050,0.215438,19.9
4,-0.412408,-0.487722,-0.969827,-0.272599,-0.913029,-0.384137,-0.834781,0.300508,-0.752922,-0.957633,0.020560,0.431074,0.029007,22.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.204929,-0.487722,1.231945,3.668398,0.434551,2.161728,1.053485,-0.833960,-0.523001,-0.031105,-1.736418,0.361122,-1.504494,50.0
375,0.231398,-0.487722,1.015999,-0.272599,1.367490,0.215644,0.687212,-0.703186,1.661245,1.530926,0.806576,-2.812183,0.499991,14.3
376,-0.408311,-0.487722,0.247057,-0.272599,-1.016689,-0.206055,-0.809889,0.140451,-0.523001,-0.060801,0.113032,0.332066,-0.334043,20.8
377,-0.410620,-0.487722,-1.152214,-0.272599,-0.818007,0.068904,-1.826921,0.674814,-0.637962,0.129256,-0.719220,0.203235,-0.744752,22.6
378,0.342909,-0.487722,1.015999,3.668398,0.659147,1.041946,1.028593,-1.232462,1.661245,1.530926,0.806576,0.387875,-1.358713,50.0

In [ ]:
df.shape

(379, 14)

In [ ]:
def slope(X, Y, m, j):
  M = X.shape[0]
  s = 0
  for i in range(M):
    s += (-2/M)*(Y[i,0] - (m*X[i]).sum())*X[i, j]
  return s

In [ ]:
def gd(X, Y, learning_rate, num_iterations):
  M = X.shape[0]
  N = X.shape[1]
  m = np.zeros(N)

  for i in range(num_iterations):
    for j in range(N):
      m[j] = m[j] - learning_rate*slope(X, Y, m, j)
  return m

In [ ]:
def gradient_descent(X, Y, learning_rate, num_iterations):
  M = X.shape[0]
  N = X.shape[1]
  m = np.zeros(N)
  for i in range(num_iterations):
    for j in range(M):
      for k in range(N):
        m[k] = m[k] - (learning_rate * ( (-2/M) * ( Y[j,0] -  (m*X[j]).sum() ) * X[j, k] ))
    # print(m[0])
  return m

In [ ]:
def predict(X_test, m):
  M = X_test.shape[0]
  Y = np.zeros((M, 1))

  for i in range(M):
    Y[i,0] = round((m*X_test[i]).sum(), 1)
  return Y

In [ ]:
def run():
  X = df.iloc[:, 0:13].values
  Y = df.iloc[:, 13:].values
  X = np.append(X, [[1] for i in range(379)], axis = 1)
  print(X.shape)
  num_iterations = 1000
  learning_rate = 0.01
  m = gradient_descent(X,Y,learning_rate, num_iterations)
  print(m)
  df2 = pd.read_csv('/content/drive/MyDrive/datasets/test_x_boston.csv', header = None)
  X_test = df2.values
  X_test = np.append(X_test, [[1] for i in range(127)], axis = 1)
  
  Y = predict(X_test, m)
  print(Y)
  np.savetxt("pred.csv", Y, delimiter=",")

In [ ]:
run()

# [-0.38784538  0.3409287  -0.41265748  0.40386559 -0.33971433  1.09789162
#  -0.21138396  0.14586042 -0.1831798  -0.33086984 -0.5895636   0.34075817
#  -0.9588154   4.10501408]

(379, 14)
[-0.89984177  0.64220918 -0.19587094  0.80397746 -2.07203099  2.39899201
  0.09784746 -2.89704569  2.04845992 -1.16308247 -2.22265113  0.57952685
 -4.25280089 22.67634064]
[[12.3]
 [28.9]
 [22.4]
 [24.3]
 [20.9]
 [ 2.8]
 [30. ]
 [24.7]
 [18.7]
 [23.5]
 [24.1]
 [17.8]
 [17.9]
 [21.8]
 [42.5]
 [24. ]
 [24.5]
 [27.7]
 [20.4]
 [31.3]
 [24.1]
 [24.9]
 [33.9]
 [36.3]
 [32.1]
 [16.5]
 [23.4]
 [33.1]
 [24.9]
 [33.7]
 [17. ]
 [26.2]
 [23.3]
 [25.4]
 [15. ]
 [29.6]
 [26.2]
 [20.6]
 [24.3]
 [ 9.5]
 [ 8.2]
 [28.9]
 [29.6]
 [19.9]
 [20.3]
 [ 3.1]
 [39.5]
 [25.7]
 [30.1]
 [16.8]
 [17.8]
 [40.6]
 [17.6]
 [21.1]
 [15.7]
 [21.3]
 [18.5]
 [23.1]
 [13.8]
 [17.2]
 [15.1]
 [29.2]
 [25.3]
 [25.5]
 [17.1]
 [17.3]
 [34.7]
 [17. ]
 [26.9]
 [22.5]
 [29.4]
 [27.1]
 [17.9]
 [ 5.7]
 [36.6]
 [25.1]
 [29.9]
 [27. ]
 [16.2]
 [32.7]
 [19.3]
 [22.9]
 [22.8]
 [ 8.4]
 [17.3]
 [29.3]
 [27.1]
 [ 5.8]
 [21.2]
 [20.1]
 [22.1]
 [20.7]
 [21.1]
 [13.2]
 [19.8]
 [26.2]
 [40.1]
 [19. ]
 [33.5]
 [27. ]
 [28.6]
 [22.1]
 [25.7]
 [31.4]
 [17.2]
 [26.3]
 [21.6]
 [36.9]
 [21.9]
 [16.7]
 [27.7]
 [-0.2]
 [14. ]
 [16.2]
 [35.7]
 [21.1]
 [20.9]
 [25.3]
 [22. ]
 [18.9]
 [13.6]
 [35.3]
 [23.2]
 [24.8]
 [17.9]
 [20.9]
 [14.9]]